<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BoardDAO</display-name>
    <servlet-name>BoardDAO</servlet-name>
    <servlet-class>board.BoardDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDAO</servlet-name>
    <url-pattern>/BoardDAO</url-pattern>
  </servlet-mapping>
  <display-name>HOTELS_</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardDTO</display-name>
    <servlet-name>BoardDTO</servlet-name>
    <servlet-class>board.BoardDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDTO</servlet-name>
    <url-pattern>/BoardDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_Controller</display-name>
    <servlet-name>Company_Controller</servlet-name>
    <servlet-class>controller.Company_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_Controller</servlet-name>
    <url-pattern>/Company_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_Controller</display-name>
    <servlet-name>Customer_Controller</servlet-name>
    <servlet-class>controller.Customer_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Controller</servlet-name>
    <url-pattern>/Customer_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessOwner_Controller</display-name>
    <servlet-name>BusinessOwner_Controller</servlet-name>
    <servlet-class>controller.BusinessOwner_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessOwner_Controller</servlet-name>
    <url-pattern>/BusinessOwner_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessNameAndLocation_Controller</display-name>
    <servlet-name>BusinessNameAndLocation_Controller</servlet-name>
    <servlet-class>controller.BusinessNameAndLocation_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessNameAndLocation_Controller</servlet-name>
    <url-pattern>/BusinessNameAndLocation_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessInformation_Controller</display-name>
    <servlet-name>BusinessInformation_Controller</servlet-name>
    <servlet-class>controller.BusinessInformation_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessInformation_Controller</servlet-name>
    <url-pattern>/BusinessInformation_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationHistory_Controller</display-name>
    <servlet-name>ReservationHistory_Controller</servlet-name>
    <servlet-class>controller.ReservationHistory_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationHistory_Controller</servlet-name>
    <url-pattern>/ReservationHistory_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCUtill</display-name>
    <servlet-name>JDBCUtill</servlet-name>
    <servlet-class>utill.JDBCUtill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCUtill</servlet-name>
    <url-pattern>/JDBCUtill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessinformationDAO</display-name>
    <servlet-name>BusinessinformationDAO</servlet-name>
    <servlet-class>businessinformation.BusinessinformationDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessinformationDAO</servlet-name>
    <url-pattern>/BusinessinformationDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessinformationDTD</display-name>
    <servlet-name>BusinessinformationDTD</servlet-name>
    <servlet-class>businessinformation.BusinessinformationDTD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessinformationDTD</servlet-name>
    <url-pattern>/BusinessinformationDTD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessnameandlocationDAO</display-name>
    <servlet-name>BusinessnameandlocationDAO</servlet-name>
    <servlet-class>businessnameandlocation.BusinessnameandlocationDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessnameandlocationDAO</servlet-name>
    <url-pattern>/BusinessnameandlocationDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessnameandlocationDTO</display-name>
    <servlet-name>BusinessnameandlocationDTO</servlet-name>
    <servlet-class>businessnameandlocation.BusinessnameandlocationDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessnameandlocationDTO</servlet-name>
    <url-pattern>/BusinessnameandlocationDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessownerDAO</display-name>
    <servlet-name>BusinessownerDAO</servlet-name>
    <servlet-class>businessowner.BusinessownerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessownerDAO</servlet-name>
    <url-pattern>/BusinessownerDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessownerDTO</display-name>
    <servlet-name>BusinessownerDTO</servlet-name>
    <servlet-class>businessowner.BusinessownerDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessownerDTO</servlet-name>
    <url-pattern>/BusinessownerDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDAO</display-name>
    <servlet-name>CustomerDAO</servlet-name>
    <servlet-class>customer.CustomerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDAO</servlet-name>
    <url-pattern>/CustomerDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDTO</display-name>
    <servlet-name>CustomerDTO</servlet-name>
    <servlet-class>customer.CustomerDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDTO</servlet-name>
    <url-pattern>/CustomerDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationhistoryDAO</display-name>
    <servlet-name>ReservationhistoryDAO</servlet-name>
    <servlet-class>reservationhistory.ReservationhistoryDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationhistoryDAO</servlet-name>
    <url-pattern>/ReservationhistoryDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationhistoryDTO</display-name>
    <servlet-name>ReservationhistoryDTO</servlet-name>
    <servlet-class>reservationhistory.ReservationhistoryDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationhistoryDTO</servlet-name>
    <url-pattern>/ReservationhistoryDTO</url-pattern>
  </servlet-mapping>
</web-app>